<div class="container">

  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>

    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, required: true, class: 'form-control', placeholder: 'Citizen Jane' %>
    </div>

    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control', required: true, placeholder: 'citizen.jane@example.com' %>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
    </div>

    <div class="form-group">
      <%= f.label :phone %>
      <%= f.number_field :phone, class: 'form-control', required: true, placeholder: '0452175637' %>
    </div>

    <div class="form-group">
      <%= f.label :address, 'Home address' %>
      <%= f.text_field :address, required: true, class: 'form-control', placeholder: '444 Doepel Dr, Docklands, VIC' %>
    </div>

    <fieldset>
      <hr>
      <p>Leave these fields blank if you don't want to change your password.</p>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, :autocomplete => 'off', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <hr>
    </fieldset>

    <fieldset>
      <p>You must enter your current password to make changes.</p>
      <div class="form-group">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, class: 'form-control' %>
      </div>
    </fieldset>

    <%= f.submit 'Update', :class => 'btn btn-primary btn-lg btn-block' %>

  <% end %>
  <hr>
</div>

<div class="container">
  <h2>Cancel Account</h2>
  <p>Unhappy? We'll be sad to see you go.</p>
  <%= button_to "Cancel my account", registration_path(resource_name),
                data: { confirm: "Are you sure? All of your data will be deleted from the system." },
                method: :delete,
                class: 'btn btn-danger btn-sm' %>
</div>
<br>