<div class="container">
  <h1>My Appointments</h1>
  <br>
  <%= paginate @appointments %>
  <table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Date and Time</th>
      <th>Health Care Professional</th>
      <th>Consultation Fee</th>
      <th>Your message to the HCP</th>
      <th colspan="1"></th>
    </tr>
    </thead>

    <tbody>
    <% @appointments.each do |app| %>
      <%= content_tag :tr, class: app.past? ? '' : 'table-warning' do  %>

        <td><%= app.id %></td>
        <td><%= l app.start_time, format: :long %></td>
        <td>
          <strong><%= app.health_care_professional_name %> </strong>
          | <%= app.health_care_professional_specialty_name %>
        </td>
        <td><%= number_to_currency app.consultation_fee %></td>
        <td><%= default_appointment_message(app) %></td>
        <td>
          <% if policy(app).destroy? %>
            <%= link_to 'Cancel', app,
                        method: :delete,
                        data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
          <% end %>
        </td>

      <% end %>
    <% end %>
    </tbody>
  </table>
  <%= paginate @appointments %>

</div>

